:root {
    /* colors */

    /* primary colors */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

    /* neutral colors */
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    /* fonts */
    --Young-Serif: "Young Serif", serif;
    --Outfit: "Outfit", sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* globals */
body {
    background-color: var(--White);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--Outfit);
}
p {
    font-size: 1.6rem;
    color: var(--Wenge-Brown);
}

img {
    width: 100%;
}
h1, h2, h3 {
    font-family: var(--Young-Serif);
}
h1 {
    font-size: 4rem;
    margin: 0;
}
h2 {
    margin-top: 2rem;
    margin-bottom: -1rem;
    font-size: 3.2rem;
    color: var(--Nutmeg);
}
h3 {
    font-size: 2.4rem;
}
li {
    color: var(--Wenge-Brown);
    line-height: 2;
    padding-left: 2rem;
}
li::marker {
    color: var(--Nutmeg);
    font-weight: bold;
}
ol {
    list-style-position: outside;
}
tr {
    color: var(--Wenge-Brown);
    font-weight: lighter;
}
.conteiner {
    max-width: 70rem;
    margin: 6rem auto;
}
@media (max-width: 480px) { 
    .conteiner {
        width: 90%;
    }
    h1 {
        font-size: 3.8rem;
    }
}
span {
    font-weight: bold;
}

/* Image */
.image {
    border-radius: 1rem;
}
.recipe__time {
    background-color: var(--Rose-White);
    padding: 2rem;
    border-radius: 1rem;
}
.recipe__time--title {
    margin-top: 0rem;
    color: var(--Dark-Raspberry);
    font-family: var(--Outfit);
    font-size: 1.8rem;
}
.recipe__time li::marker{
    color: var(--Dark-Raspberry);
}
.ingredients,
.instructions {
    border-bottom: 1px solid var(--Light-Grey);
    padding-bottom: 2rem;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table td {
    padding-left: 2rem;
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--Light-Grey);
}
.table__left-side {
    color: var(--Wenge-Brown);
    font-weight: 400;
}
.table__right-side {
    color: var(--Nutmeg);
    font-weight: bold;
}
